/* [project]/node_modules/geist/dist/geistsans_d5a4f12f.module.css [app-client] (css) */
/* unparsable [project]/node_modules/geist/dist/geistsans_d5a4f12f.module.css [app-client] (css) */
/* [project]/node_modules/geist/dist/geistmono_157ca88a.module.css [app-client] (css) */
/* unparsable [project]/node_modules/geist/dist/geistmono_157ca88a.module.css [app-client] (css) */
/* [project]/app/globals.css [app-client] (css) */
/* unparsable [project]/app/globals.css [app-client] (css) */
